.notification {
  display: flex;
  font-size: 0.87rem;
  border-radius: 10px;
  padding: 1.1em;
  gap: 0.8rem;
  line-height: 1.3;
  color: hsl(219, 12%, 42%);
}

.unread {
  background-color: hsl(210, 60%, 98%);
}

.notification img {
  width: 39px;
  height: 39px;
}

.h2 {
  font-size: 0.9rem;
  display: inline;
}

.a {
  color: hsl(219, 12%, 42%);
  font-weight: 700;
}

.a:hover,
.group:hover {
  color: hsl(219, 85%, 26%);
}

.group {
  color: hsl(219, 85%, 26%);
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 0.4rem;
  border-radius: 50%;
  background-color: hsl(1, 90%, 64%);
}

.time {
  color: hsl(219, 14%, 63%);
  margin-top: 0.2rem;
}

.message {
  display: block;
  max-width: 45ch;
  margin-top: 0.65rem;
  padding: 1.1em;
  border: 1px solid hsl(205, 33%, 90%);
  border-radius: 5px;
}

.notification .message:hover {
  color: inherit;
  background-color: hsl(211, 68%, 94%);
}

.pic {
  margin-left: auto;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.05em;
}

.pic:hover {
  cursor: pointer;
  border: 1px solid hsl(211, 68%, 94%);
}

@media (min-width: 600px) {
  .notification {
    font-size: 1rem;
    font-weight: 500;
    gap: 1.2rem;
  }

  .notification img {
    width: 45px;
    height: 45px;
  }

  .h2,
  .a {
    font-size: 1rem;
    font-weight: 800;
  }

  .group {
    color: hsl(219, 12%, 42%);
  }

  .time {
    font-weight: 500;
  }
}
